<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merienda:wght@700&display=swap"
    rel="stylesheet"/>
    <title>ourRestaurante'</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="wrapper">
      <header>
        <div class="header">
          <a id="menu" class="header__menu" tabindex="0">☰</a>
          <h1 class="header__brand" tabindex="0">ourRestaurante'</h1>
        </div>
      </header>

      <nav id="drawer">
        <div class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="/" tabindex="0">Home</a></li>
            <li class="nav__item"><a href="#" tabindex="0">Favorite</a></li>
            <li class="nav__item"><a href="https://www.linkedin.com/in/anisanurjanah" tabindex="0">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="jumbotron">
      <div class="jumbotron__inner">
        <h1 class="jumbotron__title" tabindex="0">FIND YOUR BEST RESTAURANT HERE</h1>
        <p class="jumbotron__tagline" tabindex="0">A Good Food Makes A Good Mood</p>
      </div>
    </div>

    <main id="#maincontent">
      <section class="content">
        <div class="clock">
          <span class="clock__day" tabindex="0"></span>
        </div>

        <div class="latest">
          <h1 class="latest__label" tabindex="0">DAFTAR RESTORAN</h1>
          <div class="katalog"></div>
        </div>
      </section>
    </main>

    <footer>
      <p tabindex="0">Copyright &copy; 2022 - ourRestaurante'</p>
    </footer>

  </body>
</html>